body {
    justify-content: center;
    padding: 20px;
}

.row {
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    background: #000000;
    color: white;
    padding: 10px;
    cursor: pointer;
}